/* mobile */
@media (min-width:280px) and (max-width:480px){
  #productBox{
    width: 100%; height: auto; min-height: 0;
  }
  #productBox > h2{
    width:100%; height: 100px; line-height: 100px;
    background-image: url("/img/product/title_bg/480_title_bg.png");
  }
  .sub_menu{
    width: 100%; height: 50px; margin-top: 40px;
  }
  .sub_menu ul{
    width: 100%; height: 100%; margin: auto; text-align: center;
   
  }
  .sub_menu ul>li{
    display: inline-block;  width: 20%; height: 100%;
    line-height: 50px; font-weight: bold; font-size: 16px; border-right: 0;
  }

  .milktea{
    width: 100%; height: auto; min-height: 0;
  }
  .milktea ul{
    width: 89.5833333333vw; height: auto; margin: auto;
  }
  .milktea ul>li{position: relative;
   float: left; width:41.6666666667vw; height: 41.6666666667vw; margin-right: 6.25vw; margin-top: 40px;
   background-position: 50% 50%; background-size: contain; background-repeat: no-repeat;
  }
  .milktea ul>li:nth-child(2n){margin-right: 0;}
  .milktea ul>li>span{
    position: absolute; bottom: 0; display: block;
    width: 100%; height: 50px;
  }

  .more{
    display: block; 
    width: 56px; height: 30px; margin: auto; margin-top: 30px;
  }
  .more button{
    width: 100%; height: 100%;
    border: 2px solid #313131; box-sizing: border-box;
    border-radius: 5px;
  }

  .tea{
    width: 100%; height: auto;  min-height: 800px;
  }
  .tea ul{
    width: 89.5833333333vw; height: auto; margin: auto;
  }
  .tea ul>li{position: relative;
   float: left; width:41.6666666667vw; height: 41.6666666667vw; margin-right: 6.25vw; margin-top: 40px;
   background-position: 50% 50%; background-size: contain; background-repeat: no-repeat;
  }
  .tea ul>li:nth-child(2n){margin-right: 0;}
  .tea ul>li>span{
    position: absolute; bottom: 0; display: block;
    width: 100%; height: 50px;
  }
}

@media screen and (max-width:280px){
  .tea{
    width: 100%; height: auto;  min-height: 500px;
  }
}
