@media (min-width: 481px) and (max-width: 1024px){
  .sub_menu ul{
    width: 50%; height: 100%; margin: auto; text-align: center;
  }
  .sub_menu ul>li{
    display: inline-block;  width: 20%; height: 100%;
    font-size: 20px; line-height: 50px; font-weight: bold;
    border-right: 5px solid #313131; 
  }
  #productBox > h2{
    background-image: url("/img/product/title_bg/1024_title_bg.png");
  }
  .milktea{
    width: 100%; height: auto; min-height: 800px; background-color: #988;
  }
  .milktea ul{
    width: 86.9140625vw; height: auto; min-height: 800px; margin: auto;
  }
  .milktea ul>li{position: relative;
   float: left; width:19.53125vw; height: 200px; margin-right: 2.9296875vw; margin-top: 40px;
   background-color: #fff;
  }
  .milktea ul>li:nth-child(4n){margin-right: 0;}
  .milktea ul>li>span{
    position: absolute; bottom: 0; display: block;
    width: 100%; height: 50px; background-color: rgba(0,0,0,0.5);
  }
  .tea{
    width: 100%; height: auto; min-height: 800px; background-color: #888;
  }
  .tea ul{
    width: 86.9140625vw; height: auto; min-height: 800px; margin: auto;
  }
  .tea ul>li{position: relative;
   float: left; width:19.53125vw; height: 200px; margin-right: 2.9296875vw; margin-top: 40px;
   background-color: #fff;
  }
  .tea ul>li:nth-child(4n){margin-right: 0;}
  .tea ul>li>span{
    position: absolute; bottom: 0; display: block;
    width: 100%; height: 50px; background-color: rgba(0,0,0,0.5);
  }
}